
html body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans'
}

.container {
  width: 800px;
  margin: 30px auto;
  border: 1px solid brown;
}

.title {
  background-color: brown;
  color: white;
  cursor: pointer;
}

.content {
  height: 300px;
  overflow: hidden;
  transition: all 0.3s ease;
}

.collapse {
  height: 0;
}

